body {
  background: -moz-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #a7d3cb), color-stop(32%, #bcc1c4), color-stop(59%, #e5cab3), color-stop(89%, #fee6c5), color-stop(100%, #fdecd0));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* IE10+ */
  background: -ms-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* W3C */
  background: linear-gradient(135deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  height: 100%;
}
.parallax{
  background-image: url("../img/background.jpg");
}
.parallax {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}
.jumbotron {
  height: 100vh;
  text-align: center;
  background-color: transparent;
}
.jumbotron .container {
  margin-top: 30vh;
  text-align: center;
}
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
.card:before {
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}
section {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.socialList {
  list-style: none;
  display: flex;
  margin-top: 10px;
}
.socialList li {
  flex: auto;
  text-align: center;
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
}
.fab:hover,.fas:hover {
  color: rgba(0, 0, 0, 0.5);
}
.fa-linkedin:hover {
  color: #0077b5;
}
.fa-instagram:hover {
  color: #f56040;
}
.fa-github:hover {
  color: #4078c0;
}
