<div class="modal fade" id="suberBreakModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Product Manager</h5>
        <h6 class="text-muted">Super Break January 2018</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Product Manager of Super Break website and new greenfield project</li>
          <li>Maintain, develop and deliver the product roadmap</li>
          <li>Manage and implement change portfolio across the website from projects to BAU</li>
          <li>Manage and prioritise issue backlog based on customer and business needs</li>
          <li>Liaise with senior leadership and management on various IT projects to establish
              needs and priorities</li>
          <li>Detail product requirements and aid the Business Analysis team when defining
              detailed requirements</li>
          <li>Coordinate project teams from discovery to implementation</li>
          <li>Manage A/B Tests, User Research and customer feedback and act on any learnings</li>
          <li>Coordinate research and analysis on projects</li>
          <li>Lead workshops/working groups</li>
          <li>Manage resource against product priorities</li>
          <li>Manage product development and change throughout the SDLC</li>
          <li>Establish and grow</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="suberBreakModal2" tabindex="-1" role="dialog" aria-labelledby="suberBreakModal2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>UX Business Analyst</h5>
        <h6 class="text-muted">Super Break April 2016</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Defining detailed functional and non-functional business requirements as a foundation for all new mobile and desktop design and development</li>
          <li>Act as lead on projects managing multiple design, development and QA resources</li>
          <li>Management of multiple cross discipline projects</li>
          <li>Conduct and analysing of User Research results, A/B Testing & Google Analytics</li>
          <li>Create workflows to aid requirements & processes</li>
          <li>Analyse data from Google Analytics and other market research and reports to create hypotheses which should increase site usability and conversion</li>
          <li>Define and conduct User Research</li>
          <li>Define and create A/B Tests</li>
          <li>Responsible for User Experience project management in an Agile SDLC</li>
          <li>Provide estimates for accurate scoping of projects</li>
          <li>Define internal processes with other departments to improve</li>
          <li>Assist in UAT where necessary</li>
          <li>Deal with 3rd party vendors</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="accessModal" tabindex="-1" role="dialog" aria-labelledby="accessModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>UX Design & Implementation Consultant</h5>
        <h6 class="text-muted">Access Intelligence October 2014 - April 2016</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Sole designer for development team of 10 person development team
          responsible for designing new features, modules, fixes and enhancements to the
          system. From research, wire framing, mock-ups and prototyping</li>
          <li>Responsible for providing documentation for design work</li>
          <li>Work closely with Business Analysts and key stakeholders to identify functional
          requirements for new modules and features</li>
          <li>Continue this through each stage gathering new requirements through structured
          feedback sessions</li>
          <li>Manage expectations around delivery and functionality</li>
          <li>Responsible for implementing a UI/UX upgrade to platform, this included
          research of design philosophies, proposals and producing prototypes</li>
          <li>Designing of an mobile app - this was done unofficially of my own initiative</li>
          <li>Responsible for creating and implementing a UX Process</li>
          <li>Proficient with Photoshop, Sketch, HTML, CSS, Bootstrap, inVision & others</li>
          <li>Have access to Project Comet Beta</li>
          <li>Responsible for the building of client systems for pre-sales to go-live</li>
          <li>Responsible for providing accompanying documentation for each stage of
          delivery</li>
          <li>Work with Business Analysts to analyse and meet requirements</li>
          <li>Provide solutions to gaps found through analysis of requirements</li>
          <li>Escalate and feedback to development teams in harmony with Sprint cycles</li>
          <li>Capture bugs and escalate as necessary</li>
          <li>Establish best practice to achievement client business process</li>
          <li>Implement and define business processes</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="centricaModal" tabindex="-1" role="dialog" aria-labelledby="centricaModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>UX Business Analyst</h5>
        <h6 class="text-muted">Centrica Storage Ltd June 2012 to October 2014</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Sole designer for development team of 10 person development team
          responsible for designing new features, modules, fixes and enhancements to the
          system. From research, wire framing, mock-ups and prototyping</li>
          <li>Responsible for providing documentation for design work</li>
          <li>Work closely with Business Analysts and key stakeholders to identify functional
          requirements for new modules and features</li>
          <li>Continue this through each stage gathering new requirements through structured
          feedback sessions</li>
          <li>Manage expectations around delivery and functionality</li>
          <li>Responsible for implementing a UI/UX upgrade to platform, this included
          research of design philosophies, proposals and producing prototypes</li>
          <li>Designing of an mobile app - this was done unofficially of my own initiative</li>
          <li>Responsible for creating and implementing a UX Process</li>
          <li>Proficient with Photoshop, Sketch, HTML, CSS, Bootstrap, inVision & others</li>
          <li>Have access to Project Comet Beta</li>
          <li>Responsible for the building of client systems for pre-sales to go-live</li>
          <li>Responsible for providing accompanying documentation for each stage of
          delivery</li>
          <li>Work with Business Analysts to analyse and meet requirements</li>
          <li>Provide solutions to gaps found through analysis of requirements</li>
          <li>Escalate and feedback to development teams in harmony with Sprint cycles</li>
          <li>Capture bugs and escalate as necessary</li>
          <li>Establish best practice to achievement client business process</li>
          <li>Implement and define business processes</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
